@model IEnumerable<Test.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Books";
    Layout = "_Layout";
}

@* Getting all books *@

<a asp-action="Create">Добавить книгу</a>
<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="bookTitle">Title</th>
                <th scope="col" class="bookDescription">Description</th>
                <th scope="col" class="th">Edition</th>
                <th scope="col" class="th">Published</th>
                <th scope="col" class="th">Authors</th>
                <th scope="col"></th>
            </tr>
        </thead>
            @foreach (var book in Model)
            {
                <tr class="bookRow">
                        <td class="title">@book.Title</td>
                        <td class="description">@book.Description</td>
                        <td class="edition">@book.Edition</td>
                        <td class="published">
                            @if (book.PublishedAt != null)
                            {
                                @book.PublishedAt.Value.ToShortDateString()
                            }
                        </td>
                        <td>
                            <div>
                                @foreach (var author in book.Authors)
                                {
                                    <div class="authorName">@author.FullName</div>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <form asp-action="Delete" asp-route-id="@book.Id" method="post">
                                    <a class="btn btn-sm btn-primary button" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
                                    <button type="submit" class="btn btn-sm btn-danger button">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
    </table>
</div>

